.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;

  .button {
    position: absolute;
  }

  .modalDialog {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    width: 100%;
    height: 100%;
    background-color: rgba(93, 93, 93, 0.3);

    &.hidden {
      display: none;
    }
  }

  .modalDialogSuccess {
    z-index: 5;
  }

  .containerModal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: rem-calc(20);
    column-gap: rem-calc(30);
    padding: rem-calc(30) rem-calc(30);
  }
}
